# Core functionality - changes here should be rare!
/src/app.py                   @KaungPyaeSoneAung2
/src/backend/database.py      @KaungPyaeSoneAung2
/src/backend/routers/auth.py  @KaungPyaeSoneAung2

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KaungPyaeSoneAung2
